<?xml version="1.0"?>
<!--
/**
 * Barranco StackExchange
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::report_marketing">
                        <resource id="Barranco_StackExchange::wishlist" title="Wishlist" translate="title" sortOrder="1000" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
