<?xml version="1.0"?>
<!--
/**
 * Barranco StackExchange
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="commandDevStackExchangeRun" xsi:type="object">Barranco\StackExchange\Console\Command\DevStackExchangeRunCommand</item>
                <item name="commandDevStackExchangeLog" xsi:type="object">Barranco\StackExchange\Console\Command\DevStackExchangeLogCommand</item>
            </argument>
        </arguments>
    </type>
</config>
