<?xml version="1.0"?>
<!--
/**
 * Barranco StackExchange
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="commandDevStackExchangeRun" xsi:type="object">Barranco\StackExchange\Console\Command\DevStackExchangeRunCommand</item>
                <item name="commandDevStackExchangeLog" xsi:type="object">Barranco\StackExchange\Console\Command\DevStackExchangeLogCommand</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Barranco\StackExchange\Model\VirtualLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/stackexchange.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Barranco\StackExchange\Model\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Barranco\StackExchange\Model\VirtualLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Barranco\StackExchange\Console\Command\DevStackExchangeLogCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Barranco\StackExchange\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <virtualType name="Barranco\StackExchange\Model\ResourceModel\Wishlist\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wishlist</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Wishlist\Model\ResourceModel\Wishlist</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wishlist_listing_data_source" xsi:type="string">Barranco\StackExchange\Model\ResourceModel\Wishlist\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
